doctype
head
	title
		| ProgVote
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Exo+2:400,300' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet" href="/global.css")
body
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
	script.
		$(document).ready(function () {
			voteMap = {};

			$(".vote-button").each(function () {
				var upVote = $(this).attr("upvoted");
				if (upVote === undefined) upVote = false;
				else upVote = true;
				voteMap[$(this).attr("qid")] = upVote;
				if (upVote) $(this).parent().parent().find(".input-group-addon").css("background-color", "#DDFFDD");
			});
			$(".vote-button").click(function () {
				var current = $(this).parent().parent().find(".input-group-addon").css("background-color");

				if (current.toLowerCase() === "rgb(238, 238, 238)") current = "#DDFFDD";
				else current = "#EEE";

				$(this).parent().parent().find(".input-group-addon").css("background-color", current);

				var id = $(this).attr("qid");
				var votes = parseInt($(this).parent().parent().find(".badge").html());
				if (voteMap[id] !== true) {
					voteMap[id] = true;
					$(this).parent().parent().find(".badge").html(votes + 1);
				}
				else {
					voteMap[id] = false;
					$(this).parent().parent().find(".badge").html(votes - 1);
				}

				$.post( "/submitvote", { question: id }, function( data ) {
					console.log(data);
				});
			});

			$("#submit-button").click(function () {
				$.post( "/submitvotes", voteMap, function( data ) {
					location.reload();
				});
			});
		});
	#content
		.title-text ProgVote
		div.line
		.minor-heading Enter a new question
		form(action="/submit" method="post")
			input(type="text" class="form-control" name="question" placeholder="Question")
		br
		.minor-heading Vote on questions
		each question in questions
			.input-group.stretch.space-up
				.input-group-addon.stretch.question-text
					= question.text      
					span.badge.align-right
						= question.votes
				span.input-group-btn
					button.btn.btn-default.vote-button(type="button", qid=question.id, upvoted=question.upVote)
						span.glyphicon.glyphicon-ok
